
<div class="container-fluid text-white bg-black" >
    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 ">
        <div class="d-flex justify-content-around align-items-baseline">
            <div class="d-flex flex-column justify-content-end align-items-baseline">
                <a href="/" class="mt-5" ><img src="images/logo_footer.png" /></a>
                <p class="text-white-50 mt-3">Resumo sobre as empresas</p>
                <p class="text-white-50">Resumo sobre as empresas</p>
                <p class="text-white-50">Resumo sobre as empresas</p>
                <p class="mt-3"><img src="icons/endereco_icon.png">Endereço: Av. Duque de Caixias, 187 | Crato-CE </img></p>
                <p><a href="tel:88988158311" class="text-white text-decoration-none"><img src="icons/telefone_icon.png"/>Telefone: (88)98815.8311</a></p>
                <p><a href="mailto:prismaconexoes@gmail.com" class="text-white text-decoration-none"><img src="icons/email_icon.png"/>E-mail: prismaconexoes@gmail.com</a></p>
                <p class="mt-3">
                    
                    <a href="/home" class="text-white m-2"><img src="icons/insta_icon.png" /></a>
                    <a href="/home" class="text-white  m-2"><img src="icons/face_icon.png" /></a>
                    <a href="/home" class="text-white m-2"><img src="icons/linked_icon.png" /></a>
                </p>
            </div>
        </div>

        <div class="d-flex justify-content-around  align-items-baseline ">
            <div class="d-flex flex-column justify-content-around align-items-baseline ">
                <p><h5 class="mt-2">ÚLTIMAS NOTÍCIAS:</h5></p>
                <hr style="opacity: 1; color:  rgb(119, 238, 188);"  width="40px" size="7px"  /> 

                <div class="row  flex-row mt-2">                    
                    <div class="col-3">
                        <img class="w-75" style="height: 75px;" src="{{rss.img0}}" alt="Notícia">
                    </div>
                    <div class="col-9">
                        <a class="text-decoration-none" href="{{rss.link0}}">
                            <div class="d-flex flex-column">
                                <p class="paragraph text-white">{{rss.title0}}</p>
                                <b class="text-white-50">{{rss.pubData0}}</b>                   
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row flex-row mt-2">                    
                    <div class="col-3">
                        <img class=" w-75" style="height: 75px;"  src="{{rss.img1}}" alt="Notícia">
                    </div>
                    <div class="col-9">
                        <a class="text-decoration-none" href="{{rss.link1}}">
                            <div class="d-flex flex-column">
                                <p class="paragraph text-white">{{rss.title1}}</p>
                                <b class="text-white-50">{{rss.pubdata1}}</b>                   
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row  flex-row mt-2" >                    
                    <div class="col-3">
                        <img class="w-75" style="height: 75px;"  src="{{rss.img2}}" alt="Notícia">
                    </div>
                    <div class="col-9">
                        <a class="text-decoration-none" href="{{rss.link2}}">
                            <div class="d-flex flex-column">
                                <p class="paragraph text-white">{{rss.title2}}</p>
                                <b class="text-white-50">{{rss.pubDate2}}</b>                   
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-around align-items-baseline">              
                <form id="formulario2"  action="/Contato" method="post">
                    <p><h5 class="mt-2">CONTATO:</h5></p>
                    <hr style="opacity: 1; color:  rgb(119, 238, 188);" width="40px" size="7px" />   
                    <div class="form-group">
                        <input type="text" class="form-control formRodape text-warning" id="c-nome" name="nome" placeholder="Nome" required />
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control formRodape text-warning" id="c-email" name="email" placeholder="Email" required />
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control  formRodape text-warning" id="c-assunto" name="assunto" placeholder="Assunto" required />
                    </div>
                    <div class="form-group" >
                        <input type="text" style="height: 100px; border-radius: 20px;" class="form-control formRodape text-warning" name="mensagem" id="c-mensagem" placeholder="Mensagem" required />
                    </div>
                    <div class="d-flex justify-content-end m-2">
                        <input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response">
                        <input type="submit" value="ENVIAR" class="w-50 btnFormRodape" onclick="onClick2()"></button>           
                    </div>
                </form>   
        </div>      
    </div>   
    <div class="d-flex justify-content-center align-items-end ">
        <p>© Prisma Conexão</p>
    </div>
</div>


