
<div class="container-fluid text-white bg-black" >
    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 ">
        <div class="d-flex justify-content-around align-items-baseline">
            <div class="d-flex flex-column justify-content-end align-items-baseline">
                <a href="/" class="mt-5" ><img src="images/logo_footer.png" alt="logo_footer"/></a>
                <p class="text-white-50 m-5 paragraph">O grupo prisma conexões surgiu no ano 2021, através de uma ideia de conectar pessoas e encontrar soluções para as demandas operacionais e administrativas dos clientes, criando um ecossistema de serviços que aproxima de forma eficiente os conhecimentos necessários para as soluções empresarias</p>

                <p class="mt-3"><img src="icons/endereco_icon.png" alt="Ícone de Endereço">Endereço: Av. Duque de Caixias, 187 | Crato-CE </img></p>
                <p><a href="tel:88988158311" class="text-white text-decoration-none"><img src="icons/telefone_icon.png" alt="Ícone de telefone"/>Telefone: (88)98815.8311</a></p>
                <p><a href="mailto:prismaconexoes@gmail.com" class="text-white text-decoration-none"><img src="icons/email_icon.png" alt="Ícone de Email"/>E-mail: prismaconexoes@gmail.com</a></p>
                <p class="mt-3">
                    
                    <a href="{{instagram}}" class="text-white m-2"><img src="icons/insta_icon.png" alt="instagram"/></a>
                    <a href="{{facebook}}" class="text-white  m-2"><img src="icons/face_icon.png" alt="facebook"/></a>
                    <a href="{{linkedin}}" class="text-white m-2"><img src="icons/linked_icon.png" alt="linkedin"/></a>
                </p>
            </div>
        </div>
        <div class="d-flex justify-content-around  align-items-baseline ">
            <div class="d-flex flex-column justify-content-around align-items-baseline ">
                <p class="mt-2" style="font-size: 20px;">ÚLTIMAS NOTÍCIAS:</p>
                <hr style="opacity: 1; color:  rgb(119, 238, 188);"  width="40px" size="7px"  /> 

                <div class="row  flex-row mt-2">
                    {{#if rss.pres0}}                    
                    <div class="col-3">
                        
                        <img class="w-75" style="height: 75px;" src="{{rss.img0}}" alt="Notícia">
                        
                    </div>
                    {{/if}}
                    <div class="col-9">
                        <a class="text-decoration-none" href="{{rss.link0}}">
                            <div class="d-flex flex-column">
                                <p class="paragraph text-white">{{rss.title0}}</p>
                                <b class="text-white-50">{{rss.pubData0}}</b>                   
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row flex-row mt-2">
                    {{#if rss.pres1}}                    
                    <div class="col-3">
                        
                        <img class=" w-75" style="height: 75px;"  src="{{rss.img1}}" alt="Notícia">
                        
                    </div>
                    {{/if}}
                    <div class="col-9">
                        <a class="text-decoration-none" href="{{rss.link1}}">
                            <div class="d-flex flex-column">
                                <p class="paragraph text-white">{{rss.title1}}</p>
                                <b class="text-white-50">{{rss.pubData1}}</b>                   
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row  flex-row mt-2" > 
                    {{#if rss.pres2}}                   
                    <div class="col-3">
                        
                        <img class="w-75" style="height: 75px;"  src="{{rss.img2}}" alt="Notícia">
                        
                    </div>
                    {{/if}}
                    <div class="col-9">
                        <a class="text-decoration-none" href="{{rss.link2}}">
                            <div class="d-flex flex-column">
                                <p class="paragraph text-white">{{rss.title2}}</p>
                                <b class="text-white-50">{{rss.pubData2}}</b>                   
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-around align-items-baseline">              
                <form action="/Contato" method="post" id="formulario2">
                    <p class="mt-2" style="font-size: 20px;">CONTATO:</p>
                    <hr style="opacity: 1; color:  rgb(119, 238, 188);" width="40px" size="7px" />   
                    <div class="form-group">
                        <input type="text" class="form-control formRodape text-warning" id="c-nome" name="nome" placeholder="Nome" required="required"/>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control formRodape text-warning" id="c-email" name="email" placeholder="Email" pattern="[a-zA-Z0-9._-]{1,127}[@]{1}[a-zA-Z0-9.]{1,128}" required="required" />
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control  formRodape text-warning" id="c-assunto" name="assunto" placeholder="Assunto" required="required" />
                    </div>
                    <div class="form-group" >
                        <textarea type="text" style="height: 100px; border-radius: 20px;" class="form-control formRodape text-warning" name="mensagem" id="c-mensagem" placeholder="Mensagem" required="required" ></textarea>
                    </div>
                    <div class="d-flex justify-content-end m-2">
                        <button type="button" class="g-recaptcha btn btn-primary w-50 btnFormRodape"  data-sitekey="6LdFP-4kAAAAADDlz8t23azcitK-oQSrEDD1nFvu" data-callback='onSubmit1' data-action='submit'>Enviar</button>      
                    </div>
                </form>   
        </div>      
    </div>   
    <div class="d-flex justify-content-center align-items-end ">
        <p>© Prisma Conexões</p>
    </div>
</div>


