
<div class="container-fluid">
    <div class="d-flex justify-content-center">
        <form class="m-5 " action="/atualizarConta" method="post" id="formulario">
            {{#if atualizacao}}
                <div class="alert alert-success" role="alert" id="alerta">
                    Atualização efetivada com sucesso!
                </div>
                <script>
                    setTimeout(function(){

                        var alert = document.getElementById("alerta");

                        alert.style="display:none"


                        }, 3000);
                </script>
            {{/if}}
            <div class="d-flex flex-column">
                <div class="mb-3">
                    <label>Nome:</label>
                    <p style="font-size: 20px;">{{usuario.firstName}}</p> 
                </div>
                <div class="mb-3">
                    <label>Sobrenome:</label>
                    <p style="font-size: 20px;">{{usuario.lastName}}</p> 
                </div>
                <div class="mb-3">
                    <label for="telefone" class="form-label">Celular</label>
                    <input type="text" class="form-control" id="telefone" name="phone"  pattern="[(]{1}[0-9]{2}[)]{1}[0-9]{5}[-]{1}[0-9]{4}$"  value="{{usuario.phone}}">
                    <div id="telefoneHelpBlock" class="form-text">
                    Digite apenas números
                    </div>
                </div>
                
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" name="email" value="{{usuario.email}}" pattern="^[a-zA-Z0-9._-]+[@]{1}[a-zA-Z0-9.]+$" />
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="password" aria-describedby="passwordHelpBlock" minlength="8" maxlength="20" value="{{usuario.password}}" pattern="^(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9])(?=.*[#$%&*+-/])[a-zA-Z0-9#$%&*+-/]{8,20}$" >
                    <div id="passwordHelpBlock" class="form-text">
                    Caracteres [a-z][A-Z][0-9][#$%&*+-/]
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary w-100">Atualizar</button>     
                </div>
            </div>
        </form>
    </div>
</div> 
<div class="container-fluid m-5">
    <p>Deseja remover sua conta? <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#confirmModal">Remover</button>
    <div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <p class="modal-title" id="confirmModalLabel" style="font-size: 20px;">Confirmação</p>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                     <form class="m-5 " action="/removerConta" method="post" id="formulario2">
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password2" name="password" aria-describedby="passwordHelpBlock" minlength="8" maxlength="20" placeholder="8-20 caracteres" pattern="^(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9])(?=.*[#$%&*+-/])[a-zA-Z0-9#$%&*+-/]{8,20}?" required="required"> 
                         </div>
                        <button type="submit" class="btn btn-secondary">Apagar Conta</button>
                     </form>
                </div>
                <div class="modal-footer">
                    <spam class="text-secondary">Ao clicar em apagar conta, não será possível cancelar a operação.</spam>
                    <button type="button" class="btn btn-primary w-100" data-bs-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
    </p>
</div>




