 <div class="col d-flex flex-column justify-content-around m-5" >
    <div class="col d-flex flex-column justify-content-center align-items-center" >
        <h1 class="text-black"><b>Últimas Notícias</b></h1>
        <hr style="opacity: 1; color: black;" width="75px" size="7px" /> 
    </div>
    <div class="row flex-row justify-content-around row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-4 m-5">

        <div class="col flex-column justify-content-center " style="width: 18rem;">
           
            <img class="img-fluid img_noticias" src="{{img0}}" alt="Notícia">
         
            <a class="text-decoration-none" href="{{rss0.link}}">
                <div class="card-body">
                    <h5 class="card-title text-black">{{date0}}</h5>
                    <p class="card-text text-black-50">{{rss0.title}}</p>                   
                </div>
            </a>
        </div>
        <div class="col flex-column justify-content-center " style="width: 18rem;">
            <img class="img-fluid img_noticias" src="{{img1}}" alt="Notícia">
            <a class="text-decoration-none" href="{{rss1.link}}"> 
                <div class="card-body">
                    <h5 class="card-title text-black">{{date1}}</h5>
                    <p class="card-text text-black-50">{{rss1.title}}</p>      
                </div>
            </a>
        </div>
        <div class="col flex-column justify-content-center " style="width: 18rem;">
            <img class="img-fluid img_noticias" src="{{img2}}" alt="Notícia">
            <a class="text-decoration-none" href="{{rss2.link}}">              
                <div class="card-body">
                    <h5 class="card-title text-black">{{date2}}</h5>
                    <p class="card-text text-black-50">{{rss2.title}}</p>
                    
                </div>
            </a>
        </div>
    </div>
</div>